@page "/find-primenumbers"
@using FirstApp.Helper;
<h3>Find The Prime Number at Given Position</h3>
<p>
    By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.<br />
    What is the 10 001st prime number?

</p>
<label for="givenIndex">Enter the Position of the Prime Number:</label>
<input type="number" id="givenIndex" @bind="givenIndex" />

<button @onclick="Find">Find Prime Number</button>

<div>
    @if (found)
    {
        <p>The @givenIndex prime number is : @primeNum</p>
    }
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@code {
    private string givenIndex ="10001";
    private long primeNum;
    private bool found;
    private string errorMessage;

    private void Find()
    {
        try
        {
            primeNum = PrimeNumberAtPosition.PrimeNumberAt(givenIndex);
            found = true;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}