@page "/find-largestpalindromeproduct"
@using FirstApp.Helper;
@using FirstApp.Shared;
<h3>Find Largest Palindrome Product</h3>

<p>
    A palindromic number reads the same both ways. <br />
    The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.<br />
    Find the largest palindrome made from the product of two 3-digit numbers.

</p>

<label for="digits">Enter the digits of the factors:</label>
<input type="text" id="givenDigits" @bind="givenDigits" />

<button @onclick="Find">Find the biggest palindrome product</button>

<div>
    @if (found)
    {
        <p>The largest palindrome product of two @givenDigits - digit numbers is : @largestPalindromeProduct</p>
    }
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}


@code {
    private string givenDigits = "3";
    private long largestPalindromeProduct;
    private bool found;
    private string errorMessage;

    private void Find()
    {
        try
        {
            largestPalindromeProduct = LargestPalindromeProduct.LargestPalindrome(givenDigits);
            found = true;
        }
        catch (Exception ex)
        {

            errorMessage = ex.Message;
        }
        
    }
}