@page "/find-largestprimefactor"
@using FirstApp.Helper;
<h3>Find Largest Prime Factor</h3>

<p>
    The prime factors of 13195 are 5, 7, 13 and 29.<br />
    What is the largest prime factor of the number 600851475143 ?
</p>
<label for="findnumber">Enter a number:</label>
<input type="text" id="findnumber" @bind="findnumber" />

<button @onclick="Find">Find the biggest prime factor</button>

<div>
    @if (found)
    {
        <p>The largest prime factor of the number @findnumber is : @biggestPrimeFactor</p>
    }
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}


@code {
    private bool found;
    private string findnumber = "600851475143";
    private long biggestPrimeFactor;
    private string errorMessage;

    private void Find()
    {
        try
        {
            biggestPrimeFactor = LargestPrimeFactor.LargestFactor(findnumber);
            found = true;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        
    }
}