@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to my "Lösung für die PrüfAufgaben"</h1>
(mit der ich hoffentlich den Job habe)<br />

<p>
    Zunächst einmal möchte ich herzlich "Danke" sagen, dass Sie mir die Chance geben, trotz meinen mangelden Erfahrungen.<br />
    <br />
    Und hier ist meine Lösung für die PrüfAufgaben.<br />
    
    <a href="/find-findsummultipleof3or5">Problem 1</a>: Find the sum of all the multiples of 3 or 5 below 1000.<br />
    <a href="/fibonacci-calculator">Problem 2</a>: Find sum of even fibonacci numbers.<br />
    <a href="/find-largestprimefactor">Problem 3</a>: Find largest prime factor of 600851475143.<br />
    <a href="/find-largestpalindromeproduct">Problem 4</a>: Find the largest palindrome made from the product of two 3-digit numbers.<br />
    <a href="/find-smallestmultiple">Problem 5</a>: Find the smallest positive number that is evenly divisible by all of the numbers from 1 to 20.<br />
    <a href="/find-sumsquaredifference">Problem 6</a>: Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.<br />
    <a href="/find-primenumbers">Problem 7</a>: What is the 10 001st prime number?<br />
    <a href="/find-largestproductinaserie">Problem 8</a>: Find largest product in a series.<br />
</p>

